:root {
  --main-text-color: #212121;
  --alternate-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-footer-color: #2f303a;
  --header-bottom-line: #e5e5e5;
  --personal-bg-color: #f5f4fa;
  --client-main-color: #afb1b8;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --footer-links-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-item-border: #eeeeee;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* чердачок */

.page-header {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--header-bottom-line);
}

.page-header__box {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
}

.logo__accent {
  color: var(--accent-color);
}

.logo--footer {
  color: var(--logo-footer-color);
}

/* навигация */

.navigation__list {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

/* контакты */

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header__item + .contacts-header__item {
  margin-left: 50px;
}

.contacts-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 14px;
  color: var(--hero-footer-color);
}

.contacts-header__link:hover,
.contacts-header__link:focus {
  color: var(--accent-color);
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* герой */

.hero {
  background-color: var(--hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero--container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-baner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  min-width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

/* чем мы лючше других */

.avantages__list {
  display: flex;
}

.avantages__items {
  width: 270px;
}

.avantages__items:not(:last-of-type) {
  margin-right: 30px;
}

.avantages__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--personal-bg-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.avantages__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.avantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}

/* направления нашей работы */

.activities {
  padding-top: 0;
}

.activities__list {
  display: flex;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

/* наши сотрудники */

.personal {
  background-color: var(--personal-bg-color);
}

.personal__list {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
}

.personal__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal__item + .personal__item {
  margin-left: 30px;
}

.personal__label {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}

.personal__position {
  font-size: 16px;
  color: var(--alternate-text-color);
}

/* ссылки на соцсети */

.networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  color: var(--client-main-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.networks__link:hover,
.networks__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.networks__icon {
  fill: currentColor;
}

.networks__item:not(:last-of-type) {
  margin-right: 10px;
}

/* постоянные клиенты */

.clients__list {
  display: flex;
}

.clients__item:not(:last-of-type) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  color: var(--client-main-color);
  border: 1px solid;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

/* погребок */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-color);
}

.footer__box {
  display: flex;
}

.footer__address {
  margin-right: 70px;
}

.address {
  margin-top: 20px;
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-of-type) {
  margin-bottom: 9px;
}

.address__item--line-color {
  color: var(--primary-white-color);
}

.address__link {
  color: var(--footer-links-text-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/* соцсети в подвале */

.networks-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-footer-color);
}

.networks-footer__list {
  display: flex;
  margin-top: 20px;
}

.networks-footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--alternate-text-color);
  color: var(--primary-white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.networks-footer__link:hover,
.networks-footer__link:focus {
  background-color: var(--accent-color);
}

.networks-footer__icon {
  fill: currentColor;
}

.networks-footer__item:not(:last-of-type) {
  margin-right: 10px;
}

/* --- страница "Портфолио" --- */

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  border: 0 transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: F5F4FA;
  color: var(--main-text-color);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;

  /* margin-right: 30px;
  margin-bottom: 30px; */
}

/* .portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.portfolio__link {
  display: block;
}

.portfolio__label {
  padding: 20px 25px;
  border: 1px solid var(--portfolio-item-border);
  border-top: none;
}

.portfolio__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio__description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}
